*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.background{
  background-color: #0056A7;
  height: 100vh;
  padding-top: 1px;
}
.title{
  color: #fff;
  font-family: cursive;
  text-align: center;
  font-size: 40px;
  margin-top: 10%;
}
.display{
  color: #000;
  font-size: 25px;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.hide{
  display: none;
}
.container{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  max-width: 300px;
}
.tile{
  border: 2px solid #000;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
}
.playerX{
  color: #e8590c;
}
.playerO{
  color: #099268;
}
.controls{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
#reset{
  background-color: #c92a2a;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  margin-left: 1em;
  cursor: pointer;
}
#reset:hover{
  background-color: #e03131;
}